/* Big tablet to 1200px (width is smaller than 1140px row) */
@media only screen and (max-width : 1200px) {    
   .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    
    .row { padding: 0 2%;}
    
    .nav-bar {padding-top: 2%;}

}

    .main-nav {
        display: block;
    }


/* Small tablet to big tablet : from 768px to 1023px  */
@media only screen and (max-width : 1023px) {
    h1 {font-size: 200%;}
     
    body {font-size: 18px;}
    
    .long-copy{width: 80%; margin-left: 10%; margin-right: 10%; }
    
    input[type=text],
    input[type=email],
    select, 
    textarea {width: 100%;margin-left: 40px;}    
    
    input[type=checkbox] {margin-left: 40px;}
}



/* Small phone to small tablet : from 596px to 767px */
@media only screen and (max-width : 767px) {
        
    .work-step p{font-size:15px;}
    
    .photo-mobile {width: 50%;}
    
    .icon-small {line-height: 130%; padding-left: 1px;   padding-right: 2px;}
    
    .main-nav {
        display: none;
        float: left;
    }

    .main-nav li {
        display: block;
        margin: 7px 0 7px 5px;
        padding: 1% O;
    }

    .main-nav li:first-of-type {
        margin-top: 0px;
    }

    .main-nav li:link,
    .main-nav li:visited {
        display: block;
        border: 0;
    }
    .mobile-nav-burger i {
        display: inline-block;
        margin: 15px 15px 0 0;
    }

    
    .sticky .main-nav {
        float: left;
    }
    
    .black-logo {
        height: 40px;
        width: auto;
        float: left;
        margin-top: 5px;
        display: none;
    }
    
    .sticky .main-nav li {
        list-style: none;
        display: block;
        padding: 0 8px;
        margin-top: 15px;
    }
    
    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited{
        text-decoration: none;
        color: #837a7a;
        text-transform: uppercase;
        font-size: 100%;
        font-weight: 400;
        -webkit-transition: color 0.2s border-bottom 0.2s;
        transition: color 0.2s border-bottom 0.2s;
        padding-bottom: 3%;
        border-bottom: 1px solid transparent;
    }
    
    .sticky .main-nav li a:hover,
    .sticky .main-nav li a:active{
        border-bottom: 1px solid #d37421;
    }
    
    .sticky .logo {display: none;}
    .sticky .black-logo {display: block;}

    .sticky .mobile-nav-burger i{
        display: inline-block;
        margin: 10px 15px 0 0;
        z-index: 9999;
        color: #555;
    }

    
    .city-description {font-size: 80%; padding-right: 6px; padding-left: 6px;}
    
    .plan-box {width: 100%; margin:0;}
    
    .plan-content,
    .plan-header, 
    .box-btn {padding: 7px;}


}


/* Small phone to small tablet : from 481 to 595px*/
@media only screen and (max-width : 596px) {
    
    .col {
        width: 100%;
    }

    
    .application-boutons img:last-child{margin-left: 0;}
    
    .main-nav li {margin-left: 20px;}
    
    .city-description {font-size: 70%;}
    
    .plan-header {font-size: 90%}
    
    .price-per-meal {font-size: 80%}
    
    .little-box {text-align: center;}
    .little-box i {width: 80%; margin: 0 10%;}
    .photo-mobile {width: 30%; margin: 0 35%;}
    .section-how-it-works .row:nth-child(2) .steps-box:nth-child(2) {margin-top: 0;}
    
    .city-description {font-size: 100%;}
    .city-picture {width: 80%;}
    
    .customer-column {margin-bottom: 40px;}
    .customer-column:last-of-type {margin-bottom: 0px;}
    .customer-column {padding-bottom: 30px;}
    .customer-column:last-of-type {padding-bottom: 0px;}
    blockquote p::before {line-height: 0em;}
    
    .plan-box {width: 70%; margin: 2% 15%;}
    .sign-up-section .row:nth-child(2) .col {margin-left: 0}
    .plan-header{text-align: center;}
    .plan-content {width: 60%; margin:0 20%; border-bottom: transparent;}
    
    form .span-2-of-3 {margin-bottom: 15px;}
    
    .contact-form{width: 90%; margin: 0 5%;}
    input[type=text],
    input[type=email],
    select, 
    textarea {width: 100%;margin-left: 10px;}    
    input[type=checkbox] {margin-left: 10px;}

}

/* Small phones : to 480px*/
@media only screen and (max-width : 481px) {
    h2 {
        font-size: 130%;
    }
}

/*Really Small phones : to 351px*/
@media only screen and (max-width : 351px) {
    header,
    .section-cities,
    .section-our-customers
     {
        padding-left : 12px;
    }

    /* Correct alignement of the second "Show me more" button in the header*/
    .hero-text-box > a:nth-of-type(2) {
        margin-left: 0;
    }
}