/*---------------------------------------*/
/*BASIC SETUP and GLOBAL RESET*/
/*---------------------------------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    background-color: #fff ;
    color: #555 ;
    font-size: 20px ;
    font-weight:300;
    font-family:'Lato','Arial','sans-serif' ;  /*font-family*/  
    text-rendering: optimizeLegibility;
    overflow-x: hidden; 
}

.clearfix {zoom:1}
.clearfix:after{
    content: ".";
    clear:both;
    display: block;
    height: 0;
    visibility: hidden;
}

*:focus {
    outline-color: #e67e22;
}

/*---------------------------------------*/
/*REUSABLE COMPONENTS/ELEMENTS*/
/*---------------------------------------*/

/*BUTTONS*/

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    text-decoration: none; /*to remove the ul of the hyperlink*/
    font-weight: 300;
    padding: 10px 30px;
    border-radius: 200px;
    border: 1px solid #e67e22 ;
    -webkit-transition: background-color 0.2s, color 0.2s, border 0.2s;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    color: #fff;
}

.btn-full:active,
.btn-full:hover,
input[type=submit]:active,
input[type=submit]:hover {
    background-color: #d37421;
    color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited {
    color: #e67e22;
    margin-left: 15px;
}

.btn-ghost:hover,
.btn-ghost:active {
    background-color: #d37421;
    color: #fff;
}



/*PARAGRAPHS*/
.long-copy{
    width: 70%;
    margin-left: 15%;
    margin-right: 30%;
    margin-bottom: 5px;
    line-height: 145%;
    text-align: center;
}


.little-box p{
    font-size: 90%;
    font-weight: 145%;
}



/*ICONS*/
.big-icon {
    display: block;
    font-size: 350%;
    color: #e67e22;
    margin-bottom: 5px;
    width: 70%;
    margin-left: 30%;
    margin-right: 30%;
}

.icon-small {
    display: inline-block;
    color: #e67e22;
    line-height: 130%;
    text-align: center;
    padding-left: 1px;  
    padding-right: 6px;
    vertical-align: middle;
    margin-top: -2px;
}


/*---------------------------------------*/
/*HEADER COMPONENTS*/
/*---------------------------------------*/

header {
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.7)),to(rgba(0, 0, 0, 0.7))), url(img/hero-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/hero-min.jpg);
    height: 100vh;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;

}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}


.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;    
}


/*---------------------------------------*/
/*MAIN NAV*/
/*---------------------------------------*/

.main-nav {
    height: 90%;
    margin-top : 5%;
}

nav div > ul { 
    float: right;
}

.main-nav li {
    list-style: none;
    display: inline-block;
    padding: 0 8px;
}

.main-nav li a:link,
.main-nav li a:visited{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 100%;
    font-weight: 400;
    -webkit-transition: color 0.2s border-bottom 0.2s;
    transition: color 0.2s border-bottom 0.2s;
    padding-bottom: 3%;
    border-bottom: 1px solid transparent;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 1px solid #d37421;
}

/*---------------------------------------*/
/*STICKY NAV*/
/*---------------------------------------*/
.sticky {
    background-color: #fff;
    position: fixed;
    top: 0;
    left:0;
    width: 100%; 
    box-shadow: 2px 2px 2px #837a7a;
    z-index: 9999;
}

.sticky div {
    height: auto;
}

.sticky .main-nav {
    float: right;
    margin-top:0;
}

.black-logo {
    height: 40px;
    width: auto;
    float: left;
    margin: 5px 0;
    display: none;
}

.sticky .main-nav li {
    list-style: none;
    display: inline-block;
    padding: 0 8px;
    margin-top: 15px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    text-decoration: none;
    color: #837a7a;
    text-transform: uppercase;
    font-size: 100%;
    font-weight: 400;
    -webkit-transition: color 0.2s border-bottom 0.2s;
    transition: color 0.2s border-bottom 0.2s;
    padding-bottom: 3%;
    border-bottom: 1px solid transparent;
}

.sticky .main-nav li a:hover,
.sticky .main-nav li a:active{
    border-bottom: 1px solid #d37421;
}

.sticky .logo {display: none;}
.sticky .black-logo {display: block;}



/*---------------------------------------*/
/*MOBILE NAV*/
/*---------------------------------------*/
.mobile-nav-burger i {
    color: #fff;
    float:right;
    font-size: 200%;
    display: none;
}


/*---------------------------------------*/
/*FEATURES SECTION*/
/*---------------------------------------*/

.section-features {
    padding-bottom: 0;
}

.little-box {
    padding: 0 1%;
}


.row {
    max-width: 1140px;
    margin: 0 auto ;
}

section {
    padding: 6% 0;
}

h1,
h2,
h3{
    font-weight: 300;
    margin-bottom: 10px;
    text-transform: uppercase;
}

h1 {
    color: #fff;
    font-size: 240%;
    letter-spacing: 1px;
    word-spacing: 4px,
}

h2 {
    font-size: 180%;
    letter-spacing: 1px;
    word-spacing: 4px;
    text-align: center;
    padding-bottom: 10px; 
}

h3 {
    font-size: 110%;
    word-spacing: 2px;
    padding-bottom: 2px;
}

h2:after {
    display: block;
    height: 2px;
    content: " ";
    width: 100px;
    background-color: #e67e22;
    margin: 20px auto 0 auto;
}


/*---------------------------------------*/
/*MEALS SHOWCASE SECTION*/
/*---------------------------------------*/

.meals-showcase {
    width: 100%;
    list-style: none;
    margin-left: 2px;
    padding: 8% 0 0 0;
}

.meals-showcase li {
    width: 25%;
    float: left;
    display: block;
}

.meal-photo {
    margin: 0;
    width: 99%;
    overflow: hidden;   
    background-color: #000; /* mettre un comment précis dans ma fiche pourquoi ne pas darken derrière chaque image*/
}

.meal-photo img{
    height: auto;
    width: 100%;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);  /* mettre un comment précis dans ma fiche attention pas placer le scale in le figure container*/
    opacity: 0.7;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.meal-photo img:hover{
    height: auto;
    width: 100%;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);  /* mettre un comment précis dans ma fiche attention pas scale le container*/
    opacity: 1 ;
}

/*---------------------------------------*/
/*HOW IT WORKS SECTION*/
/*---------------------------------------*/

.section-how-it-works {
    background-color: #ebebeb;
}
.steps-box{
    margin-top: 40px;
}

.steps-box:first-child{
    text-align: right;
    padding-right: 6%;
}

.steps-box:last-child{
    text-align: left;
    padding-left: 2%;
}

.photo-mobile {
    width: 45%;
}

.work-step {
    margin: 5% 0;
    padding: 3% 0;
}


.work-step div:hover{
    color: black;
}

.work-step:last-of-type {
    margin-bottom: 20%;    /*mettre dans mes notes - ne fonctionnent pas ici ... je ne sais pas pk..*/
}

.work-step div{
    border: 2px solid #e67e22;
    color:#e67e22;
    font-size: 140%;
    width: 55px;   /* c'est bien le container, le div qu'il faut formater, et non pas le border-widht ou le border-height*/
    height: 55px;
    border-radius: 50%;
    display: inline-block;
    float: left;
    text-align: center;
    padding: 1.5%;
    margin-right: 4%;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

.work-step p{
    padding-top: 2px;
}

.application-boutons{
    margin-top: 50px;
}

.application-boutons img {
    margin-top: 2%;
}

.application-boutons img:first-child{
    height: 40px;
    width: auto;
}

.application-boutons img:last-child{
    height: 42px;
    margin-left: 4%;
}

/*---------------------------------------*/
/*CITIES SECTION*/
/*---------------------------------------*/

.city-picture {
    height: auto;
    width: 100%;
    padding-bottom: 6%;
}

.city-name {
    text-transform: uppercase;
    font-size: 110%;
    margin-bottom: 9px;
}

.city-description {
    font-size: 90%;
    padding-right: 8px;
    padding-left: 8px;
}


.city-feature a{          /*rajouter un hover effect and visited*/
    color: #e67e22;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    padding-left: 3px;
    text-decoration: none;
}

.city-feature a:hover{          
    color: #d37421;
    border-bottom: 1px solid transparent;
}

.city-feature {
    padding-bottom: 5px;
}

.ion-ios-person {
    padding-left: 3px;
    padding-right: 8px;
}

/*---------------------------------------*/
/*CUSTOMERS SECTION*/
/*---------------------------------------*/

.section-our-customers {
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.7)),to(rgba(0, 0, 0, 0.7))), url(img/back-customers-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/back-customers-min.jpg); 
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
}

.section-our-customers h2 {
    color: #ede1e1;
    padding-bottom: 40px;
}

/* 

Le formatting blockquote et before:element ont été récupéré sur internet. Je mets en commentaire ici la correction officielle qui est une autre manière de faire :

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

*/ 

blockquote {
    width: 85%;
    color: #ede1e1;
    font-style: italic;
    line-height: 145%;
}

blockquote p::before {
    content: '\201C';
    font-size: 5em;
    line-height: 0.5em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
    display:block;
}

cite {
    margin-top: 20px;    
    display: -webkit-box;    
    display: flex;
    -webkit-box-align:center;
    align-items:center;
}


cite img {
    border-radius: 50%;
    height: 60px;
    width: auto;
    float: left;
    margin-right: 15px;
}

/*
CONSEILS

1/ MONTRER UN SELECTOR PUISSANT D'UN CHILD PRECIS/NUMEROTE A L'INTERIEUR D'UN PARENT MENTIONNE
.testimony-full-row .customer-column:nth-child(1) {
    padding-right: 30px;

2/ UTILISER LES FLEX BOX
}*/

/*---------------------------------------*/
/*SIGN-UP SECTION*/
/*---------------------------------------*/
.sign-up-section {
    background-color: #f4f4f4;
}

.plan-box {
    border-radius: 5px;
    width: 85%;
    margin-left: 7.5%;
    background-color: #fff;
    box-shadow: 0 2px 2px #f0ebeb;
}

.plan-content,
.plan-header, 
.box-btn {
    padding: 15px;
    border-bottom: 1px solid #e5dfdf;
}

.plan-box div:last-child {
    border: 0;
}

.box-btn {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.plan-header h3 {
    font-weight: 200;
}

.price {
    padding-bottom: 4px;
    color: #e67e22;
}

.price-tag {
    font-weight: 200;
    font-size: 250%;
    display: inline-block;
}

.plan-header span,
.price-per-meal {
    font-size: 80%;
}

.plan-content li {
    line-height: 190%;
    font-size: 90%;
    list-style: none;
    display: -webkit-box;
    display: flex;
    vertical-align: middle;
}

.plan-content i {
    display: inline-block;
    color: #e67e22;
    font-size: 140%;
    margin-right: 7px;
}

/*---------------------------------------*/
/*CONTACT FORM SECTION*/
/*---------------------------------------*/

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select, 
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin-right: 12px;
}

form .row {
    margin-top: 7px;
}

/*---------------------------------------*/
/*FOOTER SECTION*/
/*---------------------------------------*/
footer {
    font-size: 80%;
    padding: 30px 20px;
    color: #797878;
    background-color: #000000;
}

footer .row:nth-child(2){
    font-size: 90%;
}

footer .row:nth-child(2) .row{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    padding: 7px;
    margin: 4px 0;
}

footer .row:nth-child(1) .col{
    display: -webkit-box;
    display: flex;
}

footer .row:nth-child(1) .col:nth-child(2) {
    -webkit-box-pack: end;
    justify-content: flex-end;
}

footer ul li {
    list-style: none;
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px;
}

footer ul li i {
    font-size: 150%;
    
}

footer a,
footer ul li i{
    color: #797878;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

footer a:link,
footer a:visited
footer ul li i:link,
footer ul li i:visited{
    text-decoration: none;
    color: #797878;
}

footer a:hover,
footer a:active {
    text-decoration: none;
    color: #e67e22;
}

.ion-social-facebook:hover{color: #3b5999;}
.ion-social-twitter:hover{color: #55acee;}
.ion-social-googleplus:hover{color: #dd4b39;}
.ion-social-instagram:hover{color: #c32aa3;}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-ios-heart {
    color: #ff00b1;
}


/* animations */

.js--wp-1,
.js--wp-2,
.js--wp-3{
    opacity: 0;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.anmimated,
.js--wp-3.animated {
    opacity: 1;
}